.title {
  font-family: Moon;
  float: right;
  padding: 1vw;
  font-size: 5vw;
  color: #454f5b;
}

.sideBar {
  background-color: #c7f464;
  transform-origin: 0 0;
  transform: rotate(-90deg) translateX(-100vh);
  position: fixed;
  width: 100vh;
  box-shadow: 0 0 3px 7px rgba(0, 0, 0, .3);
  top: 0;
}

.links {
  position: fixed;
  bottom: 0;
  margin-bottom: 3vh;
  width: 8vw;
  text-align: center;
}

.links * {
  display: block;
  text-decoration: none;
  font-size: 2vw;
  color: #454f5b;
  padding: 2vh 0;
}

.main {
  margin-right: 2vw;
  margin-left: 10vw;
}
