.title {
  font-family: Moon;
  float: right;
  font-size: 5rem;
  padding: 1rem;
  color: rgb(40, 45, 51);
}

.sideBar {
  background-color: #c7f464;
  transform-origin: 0 0;
  transform: rotate(-90deg) translateX(-100vh);
  position: fixed;
  width: 100vh;
  box-shadow: 0 0 3px 7px rgba(0, 0, 0, .3);
  top: 0;
}

.sideBar a {
  text-decoration: none;
}

.links {
  padding: 2.5rem;
  font-size: 1.5rem;
  justify-content: space-between;
  font-weight: bold;
}

.links * {
  color: rgb(40, 45, 51);
  padding-right: 3rem;
}

.main {
  margin-right: 2vw;
  margin-left: 10rem;
}

.icon {
  width: 50px;
}

.teamCard :global .row {
  margin: 20px 0;
  justify-content: flex-end;
}

.teamCard :global .row > * {
  margin-left: 40px;
}

.teamCard h2 {
  margin: 0;
}

.Footer {
  border-top: 3px solid white;
  padding: 10px;
}

.Footer a {
  color: #c7f464;
}

.interested {
  display: inline-block;
  border-radius: 10px;
  color: #c7f464;
  border: 4px solid #c7f464;
  text-decoration: none;
  font-size: 4rem;
  margin-top: 100px;
  transition: all .2s;
  box-shadow: inset 0 0 3px 4px rgba(0, 0, 0, .1), 0 0 3px 4px rgba(0, 0, 0, .1);
  padding: 5px;
}

.interested:hover {
  color: #4ecdc4;
  background-color: #c7f464;
  box-shadow: 0 0 3px 4px rgba(0, 0, 0, .1);
}

.interested:active {
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, .2);
  border: 0;
  color: #c7f464;
  background-color: inherit;
}

.interestedContainer {
  text-align: center;
}
