.title {
  font-family: Moon;
  float: right;
  font-size: 5rem;
  padding: 1rem;
  color: rgb(40, 45, 51);
}

.sideBar {
  background-color: #c7f464;
  transform-origin: 0 0;
  transform: rotate(-90deg) translateX(-100vh);
  position: fixed;
  width: 100vh;
  box-shadow: 0 0 3px 7px rgba(0, 0, 0, .3);
  top: 0;
}

.links {
  padding: 2.5rem;
  font-size: 1.5rem;
  justify-content: space-between;
  font-weight: bold;
}

.links * {
  color: rgb(40, 45, 51);
  padding-right: 3rem;
}

.main {
  margin-right: 2vw;
  margin-left: 10rem;
}

.captions {
  color:rgb(40, 45, 51);
}

.icon {
  width: 50px;
}

.teamCard :global .row {
  margin: 20px 0;
  justify-content: flex-end;
}

.teamCard :global .row > * {
  margin-left: 40px;
}

.teamCard h2 {
  margin: 0;
}
