@font-face {
  font-family: Moon;
  src: url('./font/Moon Light.otf');
}

@font-face {
  font-family: Big John;
  src: url('./font/BIG JOHN.otf');
}

@font-face {
  font-family: Manifesto;
  src: url('./font/MANIFESTO.ttf');
}

@font-face {
  font-family: Moderne Sans;
  src: url('./font/MODERNE SANS.ttf');
}

/* :global html, :global body, :global #app, :global [data-reactroot] {
  height: 100%;
} */


body {
  background-color: #4ecdc4;
  color: white;
  font-family: Montserrat;
  font-size: 2rem;
  text-align: right;
}

a {
  /* text-decoration: none; */
  color: white;
}

h1 {
  color: #c7f464;
  margin-top: 150px;
}

h2 {
  padding-top: 2rem;
}

h2:first-of-type {
  padding-top: 0;
}

:global .centered * {
  text-align: center;
}
